*{
    margin: 10;
    padding: 10;
    
    box-sizing: border-box; 
}

#cv-form{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
}

#cv-template{
    display:none;
    text-align: left;
}

.my-img{
    border: 2px solid rgb(14, 0, 0);
    width: 20%;
    height: 25%;

}

.background{
    background-color:rgba(255, 255, 255, 0.897);
}